<ul>
  <% @memos.each do |memo| %>
    <% next unless memo['deleted_at'].nil? %>
    <li><a href="/memos/<%=memo['id']%>"><%=memo['title']%></a></li>
  <% end %>
</ul>

<button><a href="/memos/new">追加</a></button>

