<div class="card">
  <div class="card-body">
    <h2 class="card-title">タイトル</h1>
    <p class="card-text"><%= @memo['title'] %></p>
  </div>
  <hr>
  <div class="card-body">
    <h2 class="card-title">内容</h1>
    <p class="card-text"><%= @memo['body'].gsub(/\n/,"<br>") %></p>
  </div>
</div>


<form action="/memos/<%=@memo['id']%>" method="post" class="form-memo" onSubmit="return confirmDelete()">
  <div class="row py-3">
    <div class="col d-grid">
      <a class="btn btn-dark" href="/memos/<%=@memo['id']%>/edit" role="button">編集する</a>
    </div>
    <div class="col d-grid">
      <input type="hidden" name='_method', value='DELETE' />
      <input type="submit" value="削除する" class="btn btn-outline-dark" />
    </div>
  </div>
</form>
